.upload-btn{
    opacity: 0;
}

.submit-btn:disabled{
    color: grey;
}

.file-input-form{
    font-size: 10px;
}

.ret-btn{
    background-color: transparent;
    font-size: 15px;
    border: none;
    color: red;
}

.preview{
    display: flex;
    flex-direction: row;
}