@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
  font-family: 'Press Start 2P', monospace !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
